/* necessary functional variables that are independent of theme */
:root {
  --bs-nav-link-font-size: 1rem;

}


/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* custom Kingdom Hearts inspired color palette */
:root {
  /* official colors taken from screenshots */
  --kh-c-bg-menu-top-gradient-1: #010103;
  --kh-c-bg-menu-top-gradient-2: #131138;
  --kh-c-border-menu-header: #434ff1;
  --kh-c-text-menu-header: #f89b3c;
  --kh-c-theme-dark-blue: #08337a;
  /* unofficial colors taken from the color palettes on GameUiDatabase */
  --kh-c-bg-dark: #111231;
  --kh2-c-bg-dark: #03082d;
  --kh2-c-bg-dark-rgb: 3,8,45;
  --kh2-c-bg-dark-soft: #404a77;
  --kh2-c-bg-soft: #272b38;
  --kh2-c-bg-soft-rgb: 39,43,56;
  /* unofficial colors inspired by the vibe as I remember it */
  --kh-c-text-menu-header-alt: #cdd5e3;
}

/* custom Zelda inspired text colors */
:root {
  --zelda-c-text-character: #031e94;
  --zelda-c-text-character-light: #627beb;
  --zelda-c-text-item: #94030f;
  --zelda-c-text-location: #039422;
}

/* custom Fractured Worlds colors */
:root {
  --fw-c-light-blue: #45b3e0;
  --fw-c-blue: #2b34b9;
  --fw-c-dark-blue: #031e94;
  --fw-c-dark-blue-gray: #393f5a;
  --fw-c-red: #b9202d;
  --fw-c-dark-red: #7e0c15;

  --fw-c-black: #161826;
  --fw-c-black-soft: #202230;
  --fw-c-black-mute: #262836;

  --fw-bs-body-bg: #212529;
  --fw-bs-body-bg-rgb: 33,37,41;
}

/* custom Fractured Worlds collector card colors */
:root {
	/* --card-c-common: var(--kh-c-theme-dark-blue); */
	/* --card-c-common: #232831;
	--card-c-bg-common: #232831;
	--card-c-bg-common-shine: #393E46; */
	--card-c-common: #824A02;
	--card-c-bg-common: #824A02;
	--card-c-bg-common-shine: #A77044;
	/* --card-c-uncommon: var(--kh-c-border-menu-header);
	--card-c-bg-uncommon: var(--kh-c-border-menu-header); */
	--card-c-uncommon: var(--kh-c-border-menu-header);
	--card-c-bg-uncommon: #A7A7AD;
	--card-c-bg-uncommon-shine: #D7D7D7;
	--card-c-rare: var(--kh-c-text-menu-header);
	/* --card-c-bg-rare: var(--kh-c-text-menu-header); */
	--card-c-bg-rare: #D6AF36;
	--card-c-bg-rare-shine: #FEE101;
	/* --card-c-legendary: var(--zelda-c-text-character-light);
	--card-c-bg-legendary: var(--zelda-c-text-character-light);
	--card-c-bg-legendary-shine: var(--kh-c-text-menu-header-alt); */
  --card-c-legendary: #8945A0;
	--card-c-bg-legendary: #8945A0;
	--card-c-bg-legendary-shine: #D5449B;
}

/* semantic color variables for this project */
[data-bs-theme="light"],
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --color-navbar-bg: var(--bs-dark);
  
  --character-text-color: var(--zelda-c-text-character);
  --item-text-color: var(--zelda-c-text-item);
  --location-text-color: var(--zelda-c-text-location);

  --section-gap: 160px;
}

/* @media (prefers-color-scheme: dark) {
  :root { */
  [data-bs-theme="dark"] {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);
    
    /* --color-background: var(--fw-c-black);
    --color-background-soft: var(--fw-c-black-soft);
    --color-background-mute: var(--fw-c-black-mute); */
    
    /* --bs-body-bg: var(--kh2-c-bg-soft);
    --bs-body-bg-rgb: var(--kh2-c-bg-soft-rgb); */
    /* --color-background-soft: var(--kh2-c-bg-dark);
    --color-background-mute: var(--kh2-c-bg-dark-soft); */

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    /* --color-heading: var(--vt-c-text-dark-1); */
    --color-heading: var(--kh-c-text-menu-header);
    --color-text: var(--vt-c-text-dark-2);

    --color-navbar-bg: var(--kh-c-bg-menu-top-gradient-2);
  
    --character-text-color: var(--zelda-c-text-character-light);
    --item-text-color: var(--zelda-c-text-item);
    --location-text-color: var(--zelda-c-text-location);
  }
/* } */

/* *,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
} */

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
