@import './base.css';
@import './fake-os.css';
/* @font-face {
  font-family: 'Serpentine-Light';
  src:url('/fonts/Serpentine-Light.ttf.woff') format('woff'),
      url('fonts/Serpentine-Light.ttf.svg#Serpentine-Light') format('svg'),
      url('fonts/Serpentine-Light.ttf.eot'),
      url('fonts/Serpentine-Light.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
} */

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
} */

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.heading {
  /* font-family: "Serpentine-Light"; */
  color: var(--color-heading);
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.button-icon,
svg.portrait {
  max-width: 100%;
  max-height: 100%;
}

.menu-button-icon {
  width: 1em;
  height: 1em;
  vertical-align: -.125em;
}

.theme-color,
.portrait {
  fill: currentcolor;
}

#app {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

#app > .navbar {
  position: relative;
  z-index: 6;
}

.navbar-brand {
  /* font-family: 'Kingdom Hearts', sans-serif; */
  font-family: 'Wagnesday', sans-serif;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 2rem;
  /* font-variant: small-caps; */
  line-height: 1.5rem;
}

.container > header > [aria-label="breadcrumb"] {
  position: relative;
  width: calc(100% + var(--bs-gutter-x));
  /* margin-right: calc(var(--bs-gutter-x) * -.5);
  margin-left: calc(var(--bs-gutter-x) * -.5); */
  left: calc(var(--bs-gutter-x) * -.5);
}

/*#region general text formatting */
.text-barbie {
  color: var(--fw-c-barbie);
}

.capitalize { text-transform: capitalize; }

pre {
  white-space: pre-wrap;
  font: inherit;
}

.fffe {
  font-family: 'final fantasy elements', sans-serif;
}

.fff {
  font-family: 'Wagnesday', sans-serif;
}

.font-emphasis {
  font-family: 'Scones and Crossbows', sans-serif;
  font-family: 'BrickShapers', sans-serif;
  /* font-family: "Gajraj One", sans-serif; */
}

.gajraj-one-regular {
  font-family: "Gajraj One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.small-caps {
  font-variant: small-caps;
  font-variant-caps: petite-caps;
}

/* .font-menu {
  font-family: 'Scones and Crossbows', sans-serif;
  font-family: 'BrickShapers', sans-serif;
} */
/*#endregion general text formatting */

/*#region text-tag formatting */
.character { color: var(--character-text-color); }
.important { color: var(--item-text-color); }
.location { color: var(--location-text-color); }
/*#endregion text-tag formatting */

/*#region handling of GM view vs Player view */
[data-game-viewer-role]:not([data-game-viewer-role="gm"]) .dm-only,
[data-game-viewer-role]:not([data-game-viewer-role="gm"]) .dev,
[data-game-viewer-role]:not([data-game-viewer-role="gm"]) .gm-only {
  display: none;
}

.dm-only,
.gm-only {
  color: yellow !important;
  font-style: italic;
}

.dev {
  color: orange !important;
  font-style: italic;
}
/*#endregion handling of GM view vs Player view */

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */


/*#region backgrounds */
[data-bs-theme="dark"] .bg-navbar {
  background: linear-gradient(var(--kh-c-bg-menu-top-gradient-1), var(--kh-c-bg-menu-top-gradient-2));
  border-bottom: 0.25rem solid var(--kh-c-border-menu-header);
}

.bg-navbar {
  background-color: var(--color-navbar-bg);
}

.bg-soft { 
  background-color: var(--color-background-soft);
}

.bg-mute { 
  background-color: var(--color-background-mute);
}

.bg-variant { 
  background-color: var(--bd-pre-bg);
}

.bg-nle {
  background-image: radial-gradient(farthest-corner at 50% 50%, var(--fw-c-dark-blue-gray) 60%, var(--fw-c-dark-blue) 85%);
}

.bg-rebirth {
  background-image: radial-gradient(farthest-corner at 50% 50%, var(--bs-danger) 10%, var(--bs-danger-bg-subtle) 75%);
}
/*#endregion backgrounds */

/*#region extended Bootstrap definitions */
.gx-6 {
  --bs-gutter-x: 6rem;
}

.gx-7 {
  --bs-gutter-x: 12rem;
}

.show-on-modal,
.modal .hide-on-modal {
	display: none;
}

.hide-on-modal,
.modal .show-on-modal {
	display: initial;
}

.row-cols-7>* {
  flex: 0 0 auto;
  width: calc(100%/7);
}

@media (min-width: 992px) {
  .row-cols-lg-7>* {
    flex: 0 0 auto;
    width: calc(100%/7);
  }
}

.navbar-dark {
  --bs-nav-link-padding-x: 0;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: var(--bs-navbar-color);
  --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
  --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
}

:root {
  --bs-transition-length: 0.05s;
  --bs-accordion-transition-length: 0.05s;
}

.accordion,
.accordion-item > * {
  --bs-accordion-transition: color var(--bs-accordion-transition-length) ease-in-out, 
    background-color var(--bs-accordion-transition-length) ease-in-out,
    border-color var(--bs-accordion-transition-length) ease-in-out,
    box-shadow var(--bs-accordion-transition-length) ease-in-out,
    border-radius var(--bs-accordion-transition-length) ease;
}

.fade {
  transition: opacity .05s linear;
}
/*#endregion extended Bootstrap definitions */